### Importing Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
### Load the Dataset

In [3]:
credit_card_data = pd.read_csv('creditcard.csv')

### EDA

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

#### Class

> 0 - Legit Transactions

> 1 - Fraud Transactions

In [5]:
# Info

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# checking rows and column

credit_card_data.shape

(284807, 31)

In [7]:
# checking number of missing values

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
# Distribution of legit transaction and fraud transaction

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

#### This dataset is unbalanced

> 0 Normal Transaction

> 1 Fraud Transcation

In [9]:
### Seperating the data for analysis


legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

In [11]:
## statistal measures legit

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
## statistal measures fraud

fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
## Compare the values for both transactions

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Under Sampling

#### get a sample dataset similar to fraudulant transaction

#### Fraud Transaction is 492

In [14]:
legit_sample = legit.sample(n=492)

In [15]:
### Add 2 dataframe which is fraud data and legit_sample

new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
156563,108397.0,1.907010,-0.356877,-1.613444,0.661512,2.159239,4.208654,-0.968157,1.000050,2.307363,...,-0.671873,-1.526097,0.481790,0.555884,-0.308301,-1.123916,0.045559,-0.041659,16.44,0
124321,77256.0,-0.649928,0.946216,0.703020,-1.088308,0.006792,-0.675287,0.370769,0.347408,-0.329648,...,0.011749,-0.161563,-0.106269,-0.408999,-0.387705,0.790458,-0.091300,0.063650,10.00,0
145852,87231.0,-1.336283,-0.085834,0.309417,-0.799158,3.692992,3.837112,-0.019243,1.187240,-0.049746,...,-0.283044,-0.920283,-0.233966,0.659376,0.996447,-0.759020,0.039265,0.059548,12.00,0
1811,1407.0,1.133620,0.055481,0.362290,1.421600,-0.294901,-0.216857,-0.006972,0.060008,0.505081,...,-0.108666,-0.180039,-0.058991,0.043907,0.608821,-0.309112,0.027734,0.015549,23.84,0
6513,7820.0,0.125243,0.860558,1.520281,1.823284,-0.187210,0.136040,-0.059673,-0.909349,0.997703,...,0.536345,-0.446188,-0.216972,0.370216,1.120521,-0.134111,0.150841,0.186784,22.63,0

In [17]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
# valau counts


new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
# mean

new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96589.754065,0.100560,0.026732,-0.075898,0.029167,0.044794,-0.027607,0.014593,-0.125613,0.005797,...,-0.020943,0.020813,-0.009578,0.018534,0.011522,-0.002563,-0.003360,0.012387,0.003741,78.023374
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### Spliting the Data Into Feautures & Target

In [20]:
X = new_dataset.drop(columns='Class', axis=1)
y = new_dataset['Class']

In [21]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
156563,108397.0,1.907010,-0.356877,-1.613444,0.661512,2.159239,4.208654,-0.968157,1.000050,2.307363,...,-0.241825,-0.671873,-1.526097,0.481790,0.555884,-0.308301,-1.123916,0.045559,-0.041659,16.44
124321,77256.0,-0.649928,0.946216,0.703020,-1.088308,0.006792,-0.675287,0.370769,0.347408,-0.329648,...,-0.210723,0.011749,-0.161563,-0.106269,-0.408999,-0.387705,0.790458,-0.091300,0.063650,10.00
145852,87231.0,-1.336283,-0.085834,0.309417,-0.799158,3.692992,3.837112,-0.019243,1.187240,-0.049746,...,0.036872,-0.283044,-0.920283,-0.233966,0.659376,0.996447,-0.759020,0.039265,0.059548,12.00
1811,1407.0,1.133620,0.055481,0.362290,1.421600,-0.294901,-0.216857,-0.006972,0.060008,0.505081,...,-0.250727,-0.108666,-0.180039,-0.058991,0.043907,0.608821,-0.309112,0.027734,0.015549,23.84
6513,7820.0,0.125243,0.860558,1.520281,1.823284,-0.187210,0.136040,-0.059673,-0.909349,0.997703,...,-0.148359,0.536345,-0.446188,-0.216972,0.370216,1.120521,-0.134111,0.150841,0.186784,22.63

In [22]:
y.head()

156563    0
124321    0
145852    0
1811      0
6513      0
Name: Class, dtype: int64

### Split the dataset

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [24]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

### Model Training

> Logistic Regression

In [25]:
model = LogisticRegression()

In [26]:
# Training the LogisticRegression Model with Training Data

model.fit(X_train, y_train)

LogisticRegression()

### Model Evaluation

> Accuracy Score

In [27]:
## Accuracy on training data

X_train_prediction = model.predict(X_train)

training_data_accuracy = accuracy_score(X_train_prediction, y_train)

print(training_data_accuracy)

0.9313850063532402

In [28]:
## Accuracy on test data

X_test_prediction = model.predict(X_test)

test_data_accuracy = accuracy_score(X_test_prediction, y_test)

print(test_data_accuracy)

0.9390862944162437